{#
    /*
    * Copyright (C) ATHOS TRADER SL <info@athosonline.com>
    */
#}

{% extends "Master/MicroTemplate.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="d-flex">
        <div class="vertical-center justify-content-md-center align-self-center">
            <div class="col-md-8">
                <form action="{{ asset('Login') }}" method="post" class="form">
                    <input type="password" name="fsPassword" class="input-pass"
                           required="true"
                           autocomplete="off" autofocus="on"
                           placeholder="{{ i18n.trans('password') }}" />
                    
                    <button type="submit" class="btn btn-lg btn-block btn-primary">
                        {{ i18n.trans('login') }}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ parent() }}
    <style>
        body {
            background-color: #333A40;
        }
        
        .btn {
            font-size: 30px;
        }
        
        .input-pass {
            border: none;
            text-align: center;
            color: #fff;
            font-size: 100px;
            width: 100%;
            background: transparent;
        }
        
        .vertical-center {
            min-height: 100%;  /* Fallback for vh unit */
            min-height: 100vh; /* You might also want to use
                                  'height' property instead.

                                  Note that for percentage values of
                                  'height' or 'min-height' properties,
                                  the 'height' of the parent element
                                  should be specified explicitly.

                                  In this case the parent of '.vertical-center'
                                  is the <body> element */

            /* Make it a flex container */
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex; 

            /* Align the bootstrap's container vertically */
              -webkit-box-align : center;
            -webkit-align-items : center;
                 -moz-box-align : center;
                 -ms-flex-align : center;
                    align-items : center;

            /* In legacy web browsers such as Firefox 9
               we need to specify the width of the flex container */
            width: 100%;

            /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
               hence the bootstrap's container won't be aligned to the center anymore.

               Therefore, we should use the following declarations to get it centered again */
                   -webkit-box-pack : center;
                      -moz-box-pack : center;
                      -ms-flex-pack : center;
            -webkit-justify-content : center;
                    justify-content : center;
          }
    </style>
{% endblock %}